shopee.json
{
  "nodes": [
    {
      "id": "1",
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "id": "2",
      "parameters": {
        "functionCode": "const crypto = require('crypto');\n\nconst partner_id = 'SEU_PARTNER_ID';\nconst partner_key = 'SUA_PARTNER_KEY';\nconst path = '/api/graphql';\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst base_string = `${partner_id}${path}${timestamp}`;\n\nconst sign = crypto\n  .createHmac('sha256', partner_key)\n  .update(base_string)\n  .digest('hex');\n\nreturn [\n  {\n    json: {\n      partner_id,\n      partner_key,\n      timestamp,\n      sign\n    }\n  }\n];"
      },
      "name": "Gerar Sign",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "id": "3",
      "parameters": {
        "requestMethod": "POST",
        "url": "https://partner.shopeemobile.com/api/graphql",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"query\": \"query { getProductList(keyword: \\\"notebook\\\") { product_id name price } }\"}",
        "headerParametersJson": "{\n  \"Content-Type\": \"application/json\",\n  \"partner_id\": \"={{$json.partner_id}}\",\n  \"timestamp\": \"={{$json.timestamp}}\",\n  \"sign\": \"={{$json.sign}}\"\n}"
      },
      "name": "GraphQL Shopee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Gerar Sign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Sign": {
      "main": [
        [
          {
            "node": "GraphQL Shopee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}